.aboutMe {
    margin: 0 auto;
    flex-direction: row;
    text-align: center;
    
}

.aboutMe h1 {
    display: inline-flex;
    overflow-y: hidden;
    align-items: baseline;
}

.description {
    margin: auto 20%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 18px
}