.contactme {
  margin: 40px;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    transition: background 1.5s ease-in-out;
    /* background-color: transparent; */
    justify-content: space-between;
    
}

.contactme__info{
    height: 100%;
    width: 50%;
      
    background-size: cover;
    background-position-x: right;
    background-repeat: no-repeat;
    background-image: url("../assets/fondoEste.jpeg");
}
.contactme__form {
    padding-top: 5px;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    display: block; 
    float: center;  
}
 
.form_order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
input{
    background-color: #fbfbfb; 
    width: 310px; 
    height: 35px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #2d3157; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }

textarea{
    background-color: #fbfbfb; 
    width: 100%; 
    height: 140px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #2d3157; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    resize: none;
  } 
.div_button{
    display: flex;
    width: 100%;
    justify-content: end;
    
}
.button_contactme{
    overflow: hidden;
}


h1{
    text-align: center;
    font-size: 30px;  
    padding-bottom: 15px; 
  }



  a{
    overflow: hidden;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;

    border-radius: 20px;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #16408c;
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }

  /* estilos para celular*/
@media screen and (max-width : 500px) {
  .contactme {
      min-height: 700px;
  }
  .contactme__info{
      display: none;
  }
  
  .form_order{
      flex-direction: column;
  }
  input{
      width: 100%;
      margin-bottom: 10px;
  }
  textarea{
      width: 100%;
  }
  .button_contactme{
      width: 100%;
  }
  .div_button{
      justify-content: center;
  }
  .wrappe_buttom{
    width: 100%;    
  }
  a{
    width: 100%;
  }
}