.contactme {
    width: 90%;
    max-width: 1000px;
    height: 500px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    display: flex;
    transition: background 1.5s ease-in-out;
    /* background-color: transparent; */
    justify-content: space-between;
}

.contactme__info{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-position-x: center;
    background-image: url("../assets/ligth.jpg");
}
.contactme__form {
    padding-top: 5px;
    padding-inline: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    display: block; 
    float: center;  
}
 
.form_order{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}
input{
    background-color: #fbfbfb; 
    width: 310px; 
    height: 35px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #2d3157; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
  }

textarea{
    background-color: #fbfbfb; 
    width: 100%; 
    height: 140px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #2d3157; 
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
    resize: none;
  } 
.div_button{
    display: flex;
    width: 100%;
    justify-content: end;
    
}
.button_contactme{
  height: 45px; 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: #27ae61; 
  border-color: transparent; 
  border-style: solid; 
  border-radius: 10px;  
  width: 310px;   
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.button_contactme:hover{
    margin-right: 10px;
}
h1{
    text-align: center;
    font-size: 30px;  
    padding-bottom: 5px; 
  }
/* estilos para celular*/
@media screen and (max-width : 400px) {
    .contactme {
        min-height: 700px;
    }
    .contactme__info{
        display: none;
    }
    
    .form_order{
        flex-direction: column;
    }
    input{
        margin-bottom: 10px;
    }
    textarea{
        width: 320px;
    }
    .button_contactme{
        width: 100%;
    }
}