
*{
    margin :0;
    padding: 0;
    box-sizing: border-box; 
    overflow-x: hidden;
}
.second-name {
    margin: 0px 30px 0px ;
}
.container{
    height: 100vh;
    width: 102%;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    font-family: "futura_m";
    scroll-behavior: smooth;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    
}

section {
    height:  100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 40px;
}

section p {
    font-weight: 300;
    margin-bottom: 15px
}

section img {
    height: 60%;
}


/* nav sections scroll */
.nav-sections {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;
    top: calc(50%);;
    width: auto;
    padding: 15px;
    background: #fff;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.2);
}
/* nav item */
.nav-sections .link {
    padding: 5px;
    color: black;
}

.active{
    background-color: red;
}