/*globales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
/*----------------------*/
.second-name {
    margin: 0px 30px 0px;
}

/* estilos principales para las secciones*/
.container {
    height: 100vh;
    width: 102%;
    scroll-snap-type: y mandatory;
    font-family: "futura_m";
    transition: all 1.5s ease-in-out;
    background-size: cover 300px;
    background-position-x: center;
    background-image: url("../assets/ligth.jpg");
    
    opacity: 100%;
}

.theme-dark {
    background-position-y: top;
    color: black;
    
}
.theme-light {
    color: white;
    background-position-y: 80%;
 }
.theme-dark-color {
    transition: all 1.5s ease-in-out;
    color: black;
}
.theme-light-color {
    transition: all 1.5s ease-in-out;
    color: white;
}



.theme-light-second {
    color : #F79148
}
.theme-dark-second {
    color : #6C63FF
}

section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: center;
}

section h2 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 5px;
    padding: 0 40px;
}


/*----------------------*/

/* estilos para celular*/
@media screen and (max-width : 1200px) {
    section {
        flex-direction: column;
    }

    .section-h2 {
        overflow-y: hidden;
        margin-top: 5vh;
        align-items: center;
        
    }
    .rol {
        overflow-y: hidden;
        margin-top: 5vh;
        text-align: center;
    }
    
    .section-img {
        overflow-y: hidden;
        scale: 70%;
        margin: auto;
    }
    
}