.skills {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.item {
    width: 150px;
    height: 150px;
    margin: 5px;
    /* background: rgba(255, 255, 255, 0.2); */
    background-size: contain;
    border-radius: inherit;
}

.containerSkills {
    width: 100%;
    height: 70vh;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
  
    border-radius: 30px;
}